name: 'CI'

on:
  pull_request:
jobs:
  build-and-test:
    name: "Build and Test"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.x.x'
    - name: Restore dependencies
      run: dotnet restore OnixDataStandard.sln
    - name: Build
      run: dotnet build OnixDataStandard.sln --no-restore
    - name: Test
      run: dotnet test OnixDataStandard.sln --no-build --verbosity normal --logger trx /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov
        /p:Exclude=\"[OnixData.Standard.BaseTests]*\" /p:ExcludeByAttribute=\"Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute\"
    - name: Upload Test Report Artifacts
      uses: actions/upload-artifact@v2 
      if: success() || failure()        
      with:
        name: test-results        
        path: '**/TestResults/*.trx'
